p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  background-color: #f44336;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
